@model IEnumerable<PersonResponse>
@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
@{
    ViewBag.Title = "Person";
}

@*  action="~/persons/index" *@
<form asp-controller="Persons" asp-action="PersonIndex" method="get">
    
    <h1>
        Persons
    </h1>

    <a asp-controller="Persons" asp-action="CreatePerson">Create Person</a>
    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach (var field in ViewBag.SearchFields)
                {
                    @if (field.Key == ViewBag.CurrentSearchBy)
                    {
                        <option selected="selected" value="@field.Key">
                            @field.Value
                        </option>
                    }else
                    {
                        <option value="@field.Key">
                            @field.Value
                        </option>
                    }
                }
            </select>
        </div>
        <div class="flex-1">
            <input type="search" id="Search" placeholder="Search" class="form-input" name="filter" value="@ViewBag.CurrentSearchValue" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-back">Search</button>
            <a href="~/persons/index" class="link-hover">Clear All</a>
        </div>
    </div>
    <table class="table w-100 mt">
        <thead>
           <tr>
                @foreach (PropertyInfo prop in ViewBag.PropertyInfo)
                {
                    @if (prop.Name.Contains("Id", StringComparison.OrdinalIgnoreCase))
                    {
                        continue;
                    }
                    @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData)
                    {
                        { "ColumnName",prop.Name},
                      { "DisplayName",prop.GetCustomAttribute<DisplayAttribute>()?.Name ?? prop.Name }
                    })
                }
                <th>Options</th>
           </tr>
        </thead>
        <tbody>
            @* ITERAR COM O MOLDE ABAIXO COM A ORDEM ACIMA *@
            @foreach (var person in Model)
            {
            <tr>
                <td>@person.PersonName</td>
                <td>@person.Email</td>
                <td>@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
                <td>@person.Age</td>
                <td>@person.Gender</td>
                <td>@person.Country</td>
                <td>@person.Address</td>
                <td>@person.ReceiveNewsLetters</td>
                <td>
                    <a asp-controller="Persons" asp-action="EditPerson" asp-route-personId="@person.PersonID" >Edit</a>
                    <a asp-controller="Persons" asp-action="DeletePerson" asp-route-personId="@person.PersonID">Delete</a>
                </td>
            </tr>
            
            }
        </tbody>
    </table>
</form>